N
y
{{ elasticsearch_certs_dir }}/{{ elasticsearch_ca_filename }}
{{ elasticsearch_ca_password }}
5y
N
{{ ansible_hostname|lower }}

Y
{{ elastic_ip_address }}

Y
N
{{ elasticsearch_http_password }}
{{ elasticsearch_http_password }}
{{ elasticsearch_http_file }}