N
y
{{ elasticsearch_certs_dir }}/{{ elasticsearch_ca_filename }}
{{ elasticsearch_ca_password }}
5y
N
{{ ansible_hostname|lower }}
localhost

Y
{{ elastic_ip_address }}
127.0.0.1

Y
N
{{ elasticsearch_http_password }}
{{ elasticsearch_http_password }}
{{ elasticsearch_http_file }}