#!/bin/bash

export ES_HOME={{ elasticsearch_extract_dir }}/elasticsearch
export ES_PATH_CONF={{ elasticsearch_conf_dir }}

KEYSTORE_FILE={{ elasticsearch_conf_dir }}/elasticsearch.keystore

if [ ! -f $KEYSTORE_FILE ]; then
    {{ elasticsearch_extract_dir }}/elasticsearch/bin/elasticsearch-keystore create
fi

KEYSTORE_PW=$(cat /tmp/password_file.txt | grep keystore_pw | awk '{print $1}')
TRUSTORE_PW=$(cat /tmp/password_file.txt | grep truststore_pw | awk '{print $1}')
HTTP_PW=$(cat /tmp/password_file.txt | grep http_pw | awk '{print $1}')
BOOTSTRAP_PW=$(cat /tmp/password_file.txt | grep bootstrap_pw | awk '{print $1}')

echo "$KEYSTORE_PW" | {{ elasticsearch_extract_dir }}/elasticsearch/bin/elasticsearch-keystore add -x -f xpack.security.transport.ssl.keystore.secure_password
echo "$TRUSTORE_PW" | {{ elasticsearch_extract_dir }}/elasticsearch/bin/elasticsearch-keystore add -x -f xpack.security.transport.ssl.truststore.secure_password
echo "$HTTP_PW" | {{ elasticsearch_extract_dir }}/elasticsearch/bin/elasticsearch-keystore add -x -f xpack.security.http.ssl.keystore.secure_password
echo "$BOOTSTRAP_PW" | {{ elasticsearch_extract_dir }}/elasticsearch/bin/elasticsearch-keystore add -x -f bootstrap.password